.info {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-lg);
}

.info__image {
    max-width: 100%;
}

.info__description {
    margin-top: var(--gap-md);
    font-size: var(--font-size-sm);
    line-height: 1.55;
}

@media (max-width: 1200px) {
    .info {
        flex-direction: row;
    }

    .info__image {
        width: 45%;
    }

    .info__description {
        margin-left: var(--gap-md);
    }
}

@media (max-width: 750px) {
    .info {
        flex-direction: column-reverse;
        margin-top: var(--gap-sm);
    }

    .info__image {
        width: auto;
    }

    .info__description {
        margin-top: var(--gap-sm);
        margin-left: 0;
        font-size: var(--font-size-lg);
        line-height: 1.3;
    }
}
