.payment {
    padding: var(--gap-md) var(--gap-lg);
    border: 1px solid var(--color-gray);
    background-color: var(--color-gray-light);
}

.payment .input__field {
    background-color: #fff;
}

.payment__security {
    display: flex;
    align-items: center;
    padding-bottom: var(--gap-md);
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    color: var(--color-green);
}

.payment__shield {
    width: 29px;
    margin-right: var(--gap-xs);
}

.payment__cards {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: var(--gap-md);
}

.payment__cards-image {
    display: block;
    width: 145px;
}

.payment__card::after {
    content: url('../../img/lock.svg');
    position: absolute;
    top: 16px;
    right: 20px;
    width: 13px;
    height: 20px;
}

.payment__card .input__field {
    padding-right: var(--gap-xl);
}

.payment__exp {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    padding-bottom: var(--gap-md);
    color: var(--color-gray-dark);
}


@media (max-width: 750px) {
    .payment {
        margin: 0 calc(-1 * var(--gap-sm));
        padding: var(--gap-md) var(--gap-sm);
    }

    .payment__security {
        font-size: var(--font-size-xs);
    }

    .payment__shield {
        width: 25px;
    }

    .payment__cards {
        justify-content: flex-start;
    }
}



