.form {}

.form_gray {
    padding: 0 var(--gap-lg);
    border: 1px solid var(
    --color-gray);
    background-color: var(
    --color-gray-light);
}

.form__row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    margin: var(--gap-md) calc(-0.5 * var(--gap-md));
}

.form__cell {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    box-sizing: border-box;
    width: 100%;
    min-width: min-content;
    max-width: 100%;
    min-height: 1px;
    padding: 0 calc(0.5 * var(--gap-md));
}

.form__cell_min {
    flex-grow: 0;
}

.form__cell_1of3 {
    flex-basis: 33.33%;
}

.form__cell_2of3 {
    flex-basis: 66.66%;
}

.form__group {
    display: flex;
    align-items: center;
}

.form__error {
    margin-bottom: var(--gap-md);
    font-size: var(--font-size-xs);
    color: var(--color-red);
}

.form__question {
    font-size: var(--font-size-sm);
    text-align: center;
}

.form__info {
    font-size: var(--font-size-sm);
}

.form__hint {
    margin-left: var(--gap-md);
}

.label {}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: var(--gap-sm);
    border: 1px solid var(--color-gray);
}

.input::-webkit-input-placeholder {
    font-family: var(--font-family-main);
    color: var(--color-gray-dark);
}

.select {
    display: block;
    box-sizing: border-box;
    padding: var(--gap-sm);
    border: 1px solid var(--color-gray);
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    font-family: var(--font-family-main);
}

.select__option {}

.button {
    display: flex;
    padding: var(--gap-sm) var(--gap-lg);
    border: 0;
    background-color: var(--color-pink);
    text-transform: uppercase;
    color: #fff;
}

.button__title {
    display: block;
    padding: 0 var(--gap-lg);
}

.button__icon {
    margin-left: var(--gap-md);
}
