body {
    font-family: var(--font-family-main);
    font-size: var(--font-size-md);
    letter-spacing: -0.015em;
    color: var(--color-black);
}

.title {
    margin: 0;
    font-size: var(--font-size-xxl);
    line-height: 0.75;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.subtitle {
    display: inline-block;
    margin-top: var(--gap-sm);
    font-size: var(--font-size-md);
    color: var(--color-pink);
}

.heading {
    margin-top: var(--gap-xl);
    margin-bottom: var(--gap-md);
    font-size: var(--font-size-xl);
    line-height: 1;
    font-weight: 300;
}

.heading:first-child {
    margin-top: 0;
}

.link {
    text-decoration: none;
    background-image: linear-gradient(to bottom, currentColor 50%,rgba(0,0,0,0) 50%);
    background-repeat: repeat-x;
    background-size: 2px .1em;
    background-position: 0 1.07em;
}

.link_gray {
    color: var(--color-gray-dark);
}

.link_accent {
    color: var(--color-pink);
}

.link_dashed {
    background-image: linear-gradient(to right, currentColor 50%,rgba(0,0,0,0) 50%);
    background-size: 0.4em .1em;
}

@media (max-width: 1200px) {
    .heading {
        margin-top: var(--gap-lg);
        text-align: center;
    }
}

@media (max-width: 750px) {
    body {
        letter-spacing: 0;
    }

    .title {
        line-height: 1.15;
        text-align: center;
    }

    .subtitle {
        text-align: center;
        line-height: 1.42;
    }

    .heading {
        margin-bottom: var(--gap-lg);
    }
}
