body {
    font-family: var(--font-family-main);
    font-size: var(--font-size-md);
    letter-spacing: -0.015em;
    color: var(--color-black);
}

.title {
    margin: 0;
    font-size: var(--font-size-title);
    line-height: 0.75;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.subtitle {
    display: inline-block;
    margin-top: var(--gap-sm);
    color: var(--color-pink);
}

.heading {
    margin-top: var(--gap-xl);
    margin-bottom: var(--gap-md);
    font-size: var(--font-size-heading);
    line-height: 1;
    font-weight: 300;
}

.link {}

.link_gray {
    color: var(--color-gray-dark);
}

.link_accent {
    color: var(--color-pink);
}

@media (max-width: 1200px) {
    .heading {
        margin-top: var(--gap-lg);
        text-align: center;
    }
}
