@media (max-width: 750px) {
    .hidden-mob {
        display: none !important;
    }
}

@media (min-width: 751px) and (max-width: 1200px) {
    .hidden-tab {
        display: none !important;
    }
}

@media (min-width: 1201px) {
    .hidden-dsk {
        display: none !important;
    }
}
